
/*gets rid of the box model*/
* {
    box-sizing: border-box;
  }

/*resets all margin and padding values*/
* {
    margin: 0;
    padding: 0;
}

/*makes the header, nav, and footer block elements*/
header, nav, footer {
    display: block;
}

/*the class underline is for all elements that are required for the assignment*/
.underline {
    text-decoration: underline;
}

body { 
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: black;
    background-color: white;
    width: 1060px;
    font-size: 18px;
}

header, nav, section, aside, footer {
    background-color: lightblue;
}

article {
    color: darkmagenta;
    background-color: lightpink;
}

h1, p {
    color: darkslategray;
    background-color: #d3e439;
}

.center {
    text-align: center;
}

aside {
    width: 400px;
    float: right;
    clear: right;
}

section {
    width: 495px;
    float: left;
    clear: left;
}

.floatclear {
    overflow: auto;
}

header,
nav,
section,
article,
aside,
footer,
#specialp {
    border: 2px red solid;
    padding: 10px;
    margin: 10px;
}

