
/*gets rid of the box model*/
* {
    box-sizing: border-box;
  }

/*resets all margin and padding values*/
* {
    margin: 0;
    padding: 0;
}

/*the class underline is for all elements that are required for the assignment*/
.underline {
    text-decoration: underline;
}

body { 
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}

header, nav, section, aside, footer {
    background-color: #ebebeb;
    padding: 30px;
}

article {
    color: #ebebeb;
    background-color: #777;
}

h1, p {
    color: #777;
    background-color: #ebebeb;
}

.center {
    text-align: center;
}

section {
    width: 495px;
    float: left;
    clear: left;
}

aside {
    float: left;
    width: 450px;
}

.floatclear {
    overflow: auto;
}


